img{
  height: auto;
  width: 25em;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20em;
}